sudo: required

language: java

services:
  - docker

jdk:
  - oraclejdk8

before_install:
  - uname -a
  - chmod +x pom.xml

script:
# since we run parallel tests using embedded mongodb in fresh environment all tests run first in parallel
# will try to download the embedded mongo to this travis instance but the late ones will fail to write.
# We will therefore run one test using mongodb first that will download the mongo instance and
# then the rest of the test that will no longer need to download the embedded mongo since it will exist.
#
# It is also important that the first test to be run is a Spring Boot Test since spring boot also downloads
# another version of embedded mongo db so all Spring Boot tests will end up in a race condition also
  -  docker-compose up -d
  -  mvn -DsomeModule.test.includes="**/QueryServiceTest.java" test -DskipITs
  -  mvn -DsomeModule.test.excludes="**/QueryServiceTest.java" test -DskipITs
  -  source docker-env.bash
  -  mvn verify -DskipUTs -Der.url=http://localhost:8084/search/ -Drabbitmq.exchange.name=ei-exchange -Dspring.mail.host=localhost -Dspring.mail.port=1025 -Dwaitlist.fixedRateResend=1

before_deploy:
  - rm -rf docs
  - mvn site
  - mvn clean

deploy:
  skip_cleanup: true
  provider: pages
  github-token: $GITHUB_TOKEN
  local_dir: docs/
  on:
    branch: master
