#################################################################################################
#
# Copyright 2019 Ericsson AB.
# For a full list of individual contributors, please see the commit history.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
##################################################################################################
# docker-compose commands
#
# run:         docker-compose up
# stop:        docker-compose stop
# stop/remove: docker-compose down --volumes
#
# Cleanup/Remove (if needed):
#     Dangling Volumes:   docker volume rm `docker volume ls -q -f dangling=true`
#     Unused Images:      docker images -q | xargs docker rmi
#     Stopped containers: docker rm `docker ps -a -q`
#
# Maintainer: Eiffel-Community
##################################################################################################
version: "2.1"
services:
  mongodb:
    restart: always
    image: mongo:latest
    expose:
      - "27017"
    ports:
      - "${MONGODB_PORT}:27017"
    healthcheck:
        test: ["CMD-SHELL","echo", "'db.stats().ok' | mongo localhost:27017/test", "--quiet"]
        interval: 30s
        timeout: 10s
        retries: 5
    networks:
          eiffel_2.0_1:
            aliases:
              - mongodb

  rabbitmq:
    restart: always
    image: bitnami/rabbitmq:3.7.8-debian-9
    expose:
      - "15672"
      - "5672"
    ports:
      - "${RABBITMQ_WEB_PORT}:15672"
      - "${RABBITMQ_AMQP_PORT}:5672"
    healthcheck:
        test: ["CMD-SHELL", "if rabbitmqctl status; then \nexit 0 \nfi \nexit 1"]
        interval: 30s
        timeout: 10s
        retries: 5
    networks:
          eiffel_2.0_1:
            aliases:
              - rabbitmq
    environment:
      - RABBITMQ_PASSWORD=myuser
      - RABBITMQ_USERNAME=myuser
      - RABBITMQ_VHOST=/

  eiffel-er:
    restart: always
    image: eiffelericsson/eiffel-er:0.0.67
    expose:
      - "8080"
    ports:
      - "${EIFFEL_ER_PORT}:8080"
    depends_on:
      - rabbitmq
      - mongodb
    networks:
          eiffel_2.0_1:
            aliases:
              - eiffel-er
    environment:   # Overrides settings in config file in catalina folder. OBS --> skip quotes for rabbitmq.bindingKey value
                   # No config file copied to catalina folder in Dockerfile, only uses env vars below ;-)
                   # /eventrepository removed in contextpath
       - server.contextPath=/
       - server.port=8080
       - rabbitmq.host=rabbitmq
       - rabbitmq.componentName=eventrepository
       - rabbitmq.port=5672
       - rabbitmq.domainId=ei-domain
       - rabbitmq.durable=true
       - rabbitmq.user=myuser
       - rabbitmq.password=myuser
       - rabbitmq.exchangeName=ei-exchange
       - rabbitmq.bindingKey=#
       - rabbitmq.autoDelete=false
       - rabbitmq.createExchangeIfNotExisting=true
       - rabbitmq.consumerName=messageConsumer
       - mongodb.host=mongodb
       - mongodb.port=27017
       - mongodb.database=eiffel
       - mongodb.collection=events
       - mongodb.user
       - mongodb.password
       - mongodb.indexes=meta.id,links.target,links.type,meta.time,data.gav.groupId,data.gav.artifactId
       - mongodb.externalERs
       - search.limit=100
       - search.levels=10
       - eventrepo2.URL=
       - index.staticIndex.indexOn=false
       - index.staticIndex.filePath=src/main/resources/static_indexes.json
       - index.dynamicIndex.indexOn=false
       - index.dynamicIndex.indexCreationDay=SUNDAY
       - index.dynamicIndex.indexCreationTime=11:50:00
       - index.dynamicIndex.maxIndexesCount=5
       - index.dynamicIndex.filePath=src/main/resources/dynamic_indexing.json
       - index.dynamicIndex.fileUpdatePeriod=30
       - WAIT_MB_HOSTS=rabbitmq:15672
       - WAIT_DB_HOSTS=mongodb:27017


  jenkins:
    restart: always
    image: bitnami/jenkins:2.138.3
    expose:
      - "8080"
    ports:
      - "${JENKINS_PORT}:8080"
    depends_on:
      - rabbitmq
      - mongodb
    environment:
      - JENKINS_USERNAME=admin
      - JENKINS_PASSWORD=admin
      #     - JENKINS_HOME=                      # JENKINS_HOME: Jenkins home directory. Default: /opt/bitnami/jenkins/jenkins_home
      #     - DISABLE_JENKINS_INITIALIZATION=    # DISABLE_JENKINS_INITIALIZATION: Allows to disable the initial Bitnami configuration for Jenkins. Default: no
      #     - JAVA_OPTS=                         # JAVA_OPTS: Customize JVM parameters. No defaults.
    networks:
      eiffel_2.0_1:
        aliases:
          - jenkins


  mail-server:
    image: mailhog/mailhog
    expose:
      - "1025"
      - "8025"
    ports:
      - "${MAIL_SMTP_PORT}:1025"
      - "${MAIL_WEB_PORT}:8025"
    depends_on:
      - mongodb
    environment:
      MH_STORAGE: mongodb
      MH_MONGO_URI: mongodb:27017
      MH_MONGO_COLLECTION: messages
      MH_MONGO_DB: mailhog
    networks:
      eiffel_2.0_1:
        aliases:
          - mail-server

  ei-backend:
    restart: always
    image: eiffel-intelligence-backend:1.0.1
    expose:
      - "8080"
    ports:
      - "8080:8080"
    depends_on:
      - mongodb
      - rabbitmq
    networks:
          eiffel_2.0_1:
            aliases:
              - ei-backend
    environment:       # Overrides settings in application config file
      - SpringApplicationName=eiffel-intelligence-backend
      - server.port=8080
      - rules.path=src/main/resources/ArtifactRules.json
      - rabbitmq.host=rabbitmq
      - rabbitmq.port=5672
      - rabbitmq.domainId=ei-domain
      - rabbitmq.componentName=ei-backend
      - rabbitmq.waitlist.queue.suffix=waitlist
      - rabbitmq.exchange.name=ei-exchange
      - rabbitmq.user=myuser
      - rabbitmq.password=myuser
      - spring.data.mongodb.host=mongodb
      - spring.data.mongodb.port=27017
      - spring.data.mongodb.database=eiffel2_intelligence
      - missedNotificationDataBaseName=eiffel2_intelligence_MissedNotification
      - search.query.prefix=object
      - aggregated.object.name=aggregatedObject
      - spring.mail.host=
      - spring.mail.port=
      - spring.mail.username=
      - spring.mail.password=
      - spring.mail.properties.mail.smtp.auth=false
      - spring.mail.properties.mail.smtp.starttls.enable=false
      - er.url=eiffel-er:8080/search/
      - WAIT_MB_HOSTS=rabbitmq:15672
      - WAIT_DB_HOSTS=mongodb:27017


networks:
  eiffel_2.0_1:
