# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  unitAndFunctionalTests:    
    if: github.repository == 'eiffel-community/eiffel-intelligence'
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    env: 
      M2_HOME: /opt/apache-maven-3.6.3
      MAVEN_HOME: /opt/apache-maven-3.6.3

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
         
      - name: Install Maven
        shell: bash
        run: |  
          wget https://archive.apache.org/dist/maven/maven-3/3.6.3/binaries/apache-maven-3.6.3-bin.tar.gz -P /tmp
          tar xf /tmp/apache-maven-3.6.3-bin.tar.gz -C /opt
          echo "${M2_HOME}/bin" >> $GITHUB_PATH
          
      # To ensure docker containers are fully up and running we sleep 60s
      - name: Before script
        run: |
          source src/main/docker/env.bash
          docker compose -f src/main/docker/docker-compose.yml up -d mongodb mongodb-auth rabbitmq eiffel-er mail-server
          sleep 60
          
      - name: Run unit and functional tests
        run: |
          mvn --version
          mvn test -DskipITs -Dsurefire.rerunFailingTestsCount=2 -Djasypt.encryptor.password=secret -Dspring.config.location=src/functionaltests/resources/application.properties -B 
          
  integrationTests:
    if: github.repository == 'eiffel-community/eiffel-intelligence'
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    env: 
      M2_HOME: /opt/apache-maven-3.6.3
      MAVEN_HOME: /opt/apache-maven-3.6.3

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          
      - name: Install Maven
        shell: bash
        run: |  
          wget https://archive.apache.org/dist/maven/maven-3/3.6.3/binaries/apache-maven-3.6.3-bin.tar.gz -P /tmp
          tar xf /tmp/apache-maven-3.6.3-bin.tar.gz -C /opt
          ln -s /opt/apache-maven-3.6.3 /opt/maven
          echo "${M2_HOME}/bin" >> $GITHUB_PATH
          
      # To ensure docker containers are fully up and running we sleep 60s
      - name: Before script
        run: |
          source src/main/docker/env.bash
          docker compose -f src/main/docker/docker-compose.yml up -d mongodb mongodb-auth rabbitmq eiffel-er jenkins mail-server 
          sleep 60
          
      - name: Run integration tests
        run: |
          mvn --version
          mvn verify -DskipUTs -Djasypt.encryptor.password=integrationtest -Dspring.config.location=src/integrationtests/resources/application.properties jacoco:report -Dformats=xml -B 

      # Generating test coverage report and publishing to Codacy
      - name: Run report coverage
        if: github.event_name == 'push'
        uses: codacy/codacy-coverage-reporter-action@v1.3.0
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: target/site/jacoco/jacoco.xml
 
